PORT=8000
MONGODB_URI=mongodb+srv://USERNAME:PASSWORD@cluster0.ajnvnhf.mongodb.net/?appName=Cluster0
ACESS_TOKEN_SECRET=4e8f1a7c9d2b5e6f0a3c8d7e1f9b4a6c2d5e8f1a7b9c3d6e0f4a8b2c7d1e5f9a
ACCESS_TOKEN_EXPIRY=1d
REFRESH_TOKEN_SECRET=7f4e9c2a8d1b6e3f0a5c9d7e2b8f1a4c6d9e3f7a2b5c8d1e4f0a9c6d3b7e2f5a
REFRESH_TOKEN_EXPIRY=10d